<p>Ils sont l’avenir du monde, de l’Europe et surtout un grand espoir pour le Portugal. Il est donc nécessaire de les protéger et de leur apporter le confort dont ils ont besoin dans leur vie au quotidien. L’association a pour mission qu’ils deviennent des personnes épanouies, équilibrées et heureuses de vivre. Ils sont le futur de demain.</p>

<p>Principaux problèmes rencontrés par les enfants au Portugal:</p>

<h3>Pauvreté :</h3>
<p>Au niveau européen le Portugal se positionne parmi les 8 pays ayant des niveaux de pauvreté les plus élevés chez les enfants. Depuis l’année 2009, la pauvreté ne cesse d’augmenter au Portugal. 20% des enfants soit un sur cinq, vivent en dessous du seuil de pauvreté. Leurs parents sont généralement sans emploi ou au chômage.</p>
<p>On note également que 3 enfants sur 10 vivent dans la privation. Un des critères de privation est l’absence de 3 repas par jour.</p>

<h3>Travail des enfants :</h3>
<p>Bien que le Portugal ait lancé une campagne d’éradication du travail des enfants, ce phénomène est toujours présent. Les données officielles montrent une diminution de ce phénomène. Cependant en raison des difficultés de contrôle, il est possible de remettre en question cette baisse.</p>
<p>Les enfants du Nord du Portugal sont plus touchés que ceux du Sud et travaillent principalement dans la production de textile, de chaussure et les activités de bâtiment. Les enfants travaillant dans la fabrication de chaussures touchent moins de 1 euro par heure. Ces enfants courent le risque d’une déscolarisation et d’un manque de qualification. d‘ailleurs, un des effets de la crise est qu’un grand nombre d’enfants déserte l’école pour travailler et soutenir leur famille.</p>

<h3>Droit à la non-discrimination :</h3>
<p>Bien que le Portugal ait ratifié la Convention Internationale sur l’élimination de toutes formes de discrimination raciale, des communautés font l’objet de discriminations, notamment dans le domaine du logement, de la santé et de l’éducation.</p> 

<small>Source: <a href="http://www.humanium.org/fr/europe-caucase/portugal/">Mélanie Chatenoud, 19 septembre 2012, Association Humanium.</a></small>
