<p>Beaucoup de nos grands-parents ou grands-oncles sont restés vivre au Portugal. Ils aiment leurs pays, connaissent bien son histoire et le protègent comme un enfant.</p>
<p>La mission de l’association est de leur apporter un soutien moral, physique et matériel car il devient nécessaire de les épauler. Ainsi, l’âme du Portugal continuera de perdurer grâce à eux.</p> 

<p>Principaux problèmes rencontrés par les personnes âgées au Portugal :</p>

<h3>Besoin de ressources :</h3>
<p>Habitations précaires ou désajustées aux nécessités et difficultés de la population âgée. Absence de confort au foyer (chauffage, installations sanitaires, accès difficile, lits, chaises, adaptation des salles de bain,etc...). Manque de ressources pour payer médicaments, alimentations, l'aide pour se déplacer aux consultations de routine ou d'urgence.</p>
<p>Dépendances dans les activités quotidiennes basiques de la vie:  Incapacité ou difficulté à réaliser les activités quotidiennes basiques de vie (nettoyage et manutention de l'habitation, préparation de repas, hygiène personnelle, gérer des ressources, faire des achats, etc.).</p>
<small>Source: <a href="http://www.aifris.org/IMG/pdf/GRANJA-Berta-PEREIRA-Fernando-1.28.pdf">Association Internationale pour la Formation, la Recherche et l'Intervention Sociale</a></small>
