<p>Les personnes rencontrant des problèmes physiques et mentales sont nombreuses au Portugal. C’est pourquoi l’association à également pour but de les accompagner dans leurs vies de tous les jours.</p>

<p>Principaux problèmes rencontrées par les personnes fragiles au Portugal:</p>
<p>Il existe près d’un million de personnes avec un handicap, elles sont les plus exclues.</p>
<p>Un grand nombre de personnes avec un handicap vit isolée, sans possibilités de sortir de chez soi ou de se déplacer sur la voie publique.</p>
<p>Le taux de chômage des personnes handicapées est plus élevé que les autres.</p>
<p>La situation des femmes handicapées est encore plus grave que celle des hommes.</p>

<small>Source: <a href="http://www2.no-discrim.fr/web/?/hand/handicapPortugal/">Projet NoDiscrim cofinancé par la Communauté européenne, Programme Leonardo Da Vinci</a></small>
