junit.xml
coverage.xml
.vagrant/
solidariedade.egg-info/
build/
dist/
src/
.tox/
*.py[con]
*.sw[po]
*.DS_Store
.idea/
.coverage
solidariedade/db.sqlite3
solidariedade/static/*
solidariedade/media/*
extras/ansible/vars.yml
extras/ansible/hosts
