{% extends "zinnia/_entry_detail_base.html" %}

{% block entry_media %}
<script type='text/javascript' src='//unitegallery.net/unitegallery/js/unitegallery.min.js'></script> 
<script type='text/javascript' src='//unitegallery.net/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='//unitegallery.net/unitegallery/css/unite-gallery.css' type='text/css' /> 
<link rel='stylesheet' href='//unitegallery.net/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 
{% endblock entry_media %}
