{% load static i18n %}
{% load favicon %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    {% get_favicons "icon/" %}

    <title>{% block title %}{% endblock title %} - Solidariedade France Portugal</title>
    {% block meta %}{% endblock meta %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--[if gt IE 9]>
    <link href="//getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static "css/core.css" %}" rel="stylesheet">
  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar" aria-expanded="false">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "showcase" %}">
       <img src="{% static "img/logo.png" %}" height="60px">ASFP
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-bar">
      <ul class="nav navbar-nav navbar-right">
            <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Qui sommes-nous" %}</a>
              <ul class="dropdown-menu">
               <li><a href="{% url "history" %}">{% trans "Notre histoire" %}</a></li>
               <li><a href="{% url "engagement" %}">{% trans "Notre engagement" %}</a></li>
               <li><a href="{% url "values" %}">{% trans "Nos valeurs" %}</a></li>
               <li><a href="//www.journal-officiel.gouv.fr/publications/assoc/pdf/2016/0003/JOAFE_PDF_Unitaire_20160003_01229.pdf" target="_blank">{% trans "Documents officiels" %}</a></li>
              </ul>
            </li>
            <li role="presentation"><a href="{% url "actions" %}">{% trans "Nos actions" %}</a></li>
            <li role="presentation"><a href="{% url 'zinnia:entry_archive_index' %}">{% trans "Notre actualité" %}</a></li>
            <li role="presentation"><a href="{% url "contact" %}">{% trans "Contact" %}</a></li>
            <li role="presentation"><a href="{% url "donation" %}">{% trans "Vous souhaitez nous aider ?" %}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

     {% block body %}{% endblock %}
     <!-- FOOTER -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h4>&copy; 2018 Association Solidariedade France Portugal</h4>
            27 les prés d'andy, Saint-Germain Laxis 77950, France
          </div>
          <div class="col-md-3">
            <div class="">
              <h4>{% trans "Je fais un don" %}</h4>
              <a class="btn btn-primary" href="{% url "donation" %}">{% trans "Aider" %}</a>
            </div>
          </div>
        </div>
        <p class="pull-right"><a href="#">{% trans "Revenir en haut" %}</a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/bootstrap.js" %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--[if lt IE 9]>
    <script src="//getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{% static "js/core.js" %}"></script>
    <![endif]-->
  </body>
</html>
