/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
  font-family: 'Butler';
  src: url('/static/fonts/butler.otf');
}

body {
  color: #5a5a5a;
  background-color: #FFB500;
  /*
  font-family: 'Butler';
  */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: unset;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 30px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

#myCarousel .carousel-inner {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #B98400;
}

.item.main1 {
  background-image: url("/static/img/main1.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
.item.main2 {
  background-image: url("/static/img/main2.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
.item.main3 {
  background-image: url("/static/img/main3.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.history, .container-light {
  text-align: justify;
  background: #FFD97C;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.history a, .container-light a {
  color: #51433D;
  text-decoration: underline;
}
.container-light a:hover, .container-light a:focus {
  color: #201A18;
}
.history .alert {
  font-size: 15px;
  margin: 2px;
}


/* Featurettes
------------------------- */

.featurette {
  margin: 40px 0;
  font-size: 17px;
}

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette li {
  font-size: 20px;
}
.featurette-image {
  border-radius: 10px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Top Bar */
.top-bar {
  height: 100px;
  font-size: 24px;
  padding-left: 80px;
  padding-right: 80px;
  color: #050505;
  font-variant: small-caps;
}

.top-bar .nav-tabs {
  padding-top: 20px;
  border-bottom: 0px;
  float: right; 
}

.top-bar>.nav-tabs>li {
  height: 80px;
}

.top-bar .nav-tabs li.dropdown.open>a{
  background-color: initial;
}

.top-bar .nav-tabs>li>a {
  height: 100%;
  color: inherit;
}

.top-bar .nav-tabs>li>a:focus {
  background-color: transparent;
  border-color: transparent;
}

.top-bar .nav-tabs>li>a:hover {
  background-color: transparent;
  border-color: transparent;
  border-bottom: #C66D34;
  border-bottom-width: 10px;
  border-bottom-style: solid;
}
.top-bar .nav-tabs>li.dropdown>ul {
  width: 100%;
  color: #5a5a5a;
  background: #FFB500;
  border-width: 0px;
  font-size: 19px;
}
.top-bar .nav-tabs>li.dropdown>ul>li>a:hover {
  /*
  border-bottom: #C66D34;
  border-bottom-width: 5px;
  border-bottom-style: inset;
  */
  background: #FFA000;
  background-image: initial;
}
/* End Top Bar */

/* Footer */
footer {
  padding: 10px;
  bottom: 0px;
  background: #C66D34;
  color: #FFFFFF;
}
footer a {
  color: #FFA000;
}
/* End Footer */
/* engagement tabs */
#engagement-tabs {
  font-size: 35px;
  text-align: center;
  font-variant: small-caps;
}
#engagement-tabs a {
  color: #5a5a5a;
  background-color: initial;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #FFB500;
  text-decoration: none;
  /*
  border-width: 5px;
  border: #C66D34;
  border-style: solid;
  */
}
#engagement-tabs a:hover,
#engagement-tabs li.active>a {
  font-weight: 500;
}
/* End engagement tabs */
.brown {
  color: #FFFFFF;
  text-align: center;
  background: #C66D34;
  height: 80px;
  line-height: 80px;
}
.brown * {
  margin: 0px;
}

.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
  background-image: linear-gradient(to bottom,#FDF162 0,#FFC624 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #DAB500;
}

.btn-default:focus, .btn-default:hover {
  background-color: #FFC624;
  background-position: 0 -15px;
  color: #333;
  border-color: #DAB500;
}

.btn-default.active, .btn-default:active {
  background-color: #FFB500;
  border-color: #FFB000;
}

.hentry img {
    padding: 5px;
}
