{% extends "base.html" %}
{% load i18n static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block body %}
<div class="row brown">
  <h1>{% trans "Faire un don" %}</h1>
</div>
<div class="history">
 <div class="container">
  <form action="" method="POST">
   {% csrf_token %}
   {{ wizard.management_form }}
   <div class="row">
     <div class="col-md-4 col-md-offset-2">
      <h2>{% trans "Donation" %}</h2>
      <button name="{{ wizard.steps.current }}-donation_type" value="donation">{% trans "Aider poncuellement" %}</button>
     </div>
     <div class="col-md-4">
      <h2>{% trans "Membership" %}</h2>
      <button name="donation_type" value="membership">{% trans "S'impliquer dans le long terme" %}</button>
     </div>
   </div>
  </form>
 </div>
</div>
{% endblock %}
