{% extends "base.html" %}
{% load i18n static %}

{% block body %}
<div class="brown">
     <h1>{% trans "Notre histoire" %}</h1>
</div>
<div class="container-light container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p><i><big>{% trans "Au départ, il y a les racines, l’attachement pour son pays, son histoire et son peuple. Et un jour, l’espoir d’un meilleur lendemain pour eux, pour nous tous." %}</big></i></p>
      <p class="pull-right">{% trans "Angélique DA COSTA, présidente de Solidariedade" %}</p>
      <h3>{% trans "2017: Ann&eacute;e starter" %}</h3>
      {% trans "Un an pour plus d'une dizaine de sourires retrouv&eacute;s. Des actions concr&egrave;tes ont redonn&eacute; de la joie &agrave; nos b&eacute;n&eacute;ficaires. Alimentation, aide m&eacute;dicale, soutien psychologique, gr&acirc;ce &agrave; vous l A.S.F.P dessine un tissu social solidaire." %}
      <br><br>
      <h3>{% trans "2016: A.S.F.P est lancée!" %}</h3>
      <p>
      {% trans "Solidariedade France Portugal est une association française née d’une initiative humanitaire et solidaire. Les premières actions de l’association se concentrent sur l’aide à la population locale et un soutien aux personnes les plus démunies dans les régions du nord du Portugal." %}
      </p>
      <center>
      <img src="{% static "img/logo-letters.png" %}" height="300px" align="middle">
      </center>
    </div>
  </div>
</div><!-- /.container -->
{% endblock %}
