{% extends "base.html" %}
{% load i18n static %}

{% block body %}
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     <li data-target="#myCarousel" data-slide-to="1"></li>
     <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner" role="listbox">
     <div class="item main1 active"> 
       <div class="container">
         <div class="carousel-caption">
           <h1>{% trans "Nous accompagnons la population vieillissante" %}</h1>
           <br>
           <p><a class="btn btn-xl btn-primary" href="{% url "engagement" %}?section=elders" role="button">{% trans "Voir plus" %}</a></p>
         </div>
       </div>
     </div>
     <div class="item main2">
       <div class="container">
         <div class="carousel-caption">
           <h1>{% trans "Nous apportons un soutien pour le bien-être de tous les enfants." %}</h1>
           <br>
           <p><a class="btn btn-xl btn-primary" href="{% url "engagement" %}?section=children" role="button">{% trans "Voir plus" %}</a></p>
         </div>
       </div>
     </div>
     <div class="item main3">
       <div class="container">
         <div class="carousel-caption">
           <h1>{% trans "Et une aide à toutes les populations fragiles" %}</h1>
           <br>
           <p><a class="btn btn-xl btn-primary" href="{% url "engagement" %}?section=fragiles" role="button">{% trans "Voir plus" %}</a></p>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- /.carousel -->

<div class="container-light">
<div class="container marketing">
  <!-- START THE FEATURETTES -->
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive featurette-image-entry center-block" src="{{ latest_entries.0.image.url }}">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading"><a href="{{ latest_entries.0.get_absolute_url }}">{{ latest_entries.0.title }}</a></h2>
        <p class="lead">{{ latest_entries.0.html_preview|safe }}</p>
        <p><a class="btn btn-primary btn-xl" href="{{ latest_entries.0.get_absolute_url }}" role="button">{% trans "Voir plus" %}</a></p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading"><a href="{{ latest_entries.1.get_absolute_url }}">{{ latest_entries.1.title }}</a></h2>
        <p class="lead">{{ latest_entries.1.html_preview|safe }}</p>
        <p><a class="btn btn-primary btn-xl" href="{{ latest_entries.1.get_absolute_url }}" role="button">{% trans "Voir plus" %}</a></p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive featurette-image-entry center-block" src="{{ latest_entries.1.image.url }}">
    </div>
  </div>
  <hr class="featurette-divider">

  {% if display %}
  <div class="row featurette">
   <div class="col-md-7 col-md-push-5">
     <h2 class="featurette-heading">{{ display.title }}</h2>
     {{ display.html|safe }}
   </div>
   <div class="col-md-5 col-md-pull-7">
       <img class="featurette-image img-responsive center-block" src="{{ display.image.smart_url }}" alt="{{ display.image_title }}">
   </div>
  </div>
  <hr class="featurette-divider">
  {% endif %}

  <div class="row featurette">
   <div class="col-md-7">
     <h2 class="featurette-heading">{% trans "Vous souhaitez aider ?" %}</h2>
     <h2 class="featurette-heading">{% trans "C'est facile !" %}<h2>
     <a class="btn btn-xl btn-primary" href="{% url "donation" %}">{% trans "Juste un clic" %}</a>
   </div>
   <div class="col-md-5">
       <img class="featurette-image img-responsive center-block" src="{% static "img/keyboard.jpg" %}" alt="Generic placeholder image">
   </div>
  </div>
  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
</div>
{% endblock %}
