{% extends "base.html" %}
{% load i18n static %}

{% block body %}
<div class="history">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Nos valeurs</h1>
      <p>
      La communauté au service de l’humanitaire
      </p>
      <p>
Le temps est venu d’aider notre pays de coeur, créer des projets afin de concrétiser nos actes et valeurs que nous avons acquis par nos ancêtres et l’amour de notre patrie.
Notre but principal est d’accompagner la population portugaise locale, apporter un soutien moral, physique et matériel dans leurs vies aux quotidiens. Des projets concrets afin de les aider à mieux vivre.
      </p>
      <p>
Beaucoup d’associations, fondations où d’ONG française sont crées afin d’aider des populations mais peu ont pour but d’aider la population portugaise. 
Car il devient de notre devoir d’aider nos compatriotes, créer un réseau d’aide et d’entraide sociale, de collaboration privée ou professionnel entre nos deux pays. 
Aider indirectement le Portugal dans son développement. Améliorer les conditions de vie de ses citoyens. Pour qu’un jour chacun de nous puisse passer plus que des vacances au Portugal. 
Pourquoi ne pas y vivre? Pourquoi ne pas aider la croissance portugaise, pour qu’on nous puissions y travailler ou investir un jour? 
      </p>
      <p>
Il est important de réagir fasse à la situation portugaise, conservons nos traditions et nos valeurs. Nous sommes tous amoureux de notre pays! 
Notre seule erreur serait de ne rien faire…
      </p>
    </div>
  </div>
</div><!-- /.container -->
{% endblock %}
