{% extends "base.html" %}
{% load i18n static %}

{% block body %}
<div class="brown">
     <h1>{% trans "Nos valeurs" %}</h1>
</div>
<div class="container-light container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>{% trans "La communauté au service de l’humanitaire" %}</p>
      <p>{% blocktrans %}Le temps est venu d’aider notre pays de cœur, créer des projets afin de concrétiser nos actes et valeurs que nous avons acquis par nos ancêtres et l’amour de notre patrie. Notre but principal est d’accompagner la population portugaise locale en apportant un soutien moral, physique et matériel dans leurs vies au quotidien. Des projets concrets afin de les aider à mieux vivre.{% endblocktrans %}</p>  
      <p>{% blocktrans %}De nombreuses associations, fondations ou d’ONG françaises sont créées afin d’aider différentes populations mais peu ont pour but d’aider la population portugaise. Aider nos compatriotes devient alors notre devoir en créant un réseau d’aide et d’entraide sociale, de collaboration privée ou professionnelle entre nos deux pays. Les objectifs étant:{% endblocktrans %}</p>
      <ul>
       <li>{% blocktrans %}Aider indirectement le Portugal dans son développement{% endblocktrans %}</li>
       <li>{% blocktrans %}Améliorer les conditions de vie de ses citoyens.{% endblocktrans %}</li>
      </ul>
      <p>{% blocktrans %}Pour qu’un jour, chacun de nous puisse passer plus que des vacances au Portugal. Pourquoi ne pas y vivre? Pourquoi ne pas aider la croissance portugaise afin de pouvoir y travailler ou investir un jour?{% endblocktrans %}</p>
      <p>{% blocktrans %}Il est important de réagir face à la situation du pays: conservons nos traditions et nos valeurs. Nous sommes tous amoureux de notre pays! Notre seule erreur serait de ne rien faire… {% endblocktrans %}</p>
    </div>
  </div>
</div><!-- /.container -->
{% endblock %}
